<!-- view/layouts/landing.hbs -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{title}}</title>
    <!-- your CSS/JS links -->
</head>
<body>
    {{> header }}
    {{> language-modal }}
    {{{body}}}  <!-- Page content -->
</body>
</html>
